{% extends "base.j2" %}
{%block title%}Error{%endblock%}
{%block header%}Sorry, something went wrong.{%endblock%}
{%block content%}
<form>
      <button formaction="/" formmethod="GET">Back</button>
</form>
{%endblock%}