{% extends "base.j2" %}
{%block title%}{{user.first_name}} {{user.last_name}}{%endblock%}
{%block content%}
{%block header%}Edit User{%endblock%}
   <form method="POST">
      <input type="text" name="first_name" value="{{user.first_name}}" required/>
      <input type="text" name="last_name" value="{{user.last_name}}" required/>
      <input type="text" name="image_url" value="{{user.image_url}}" />
      <button>Submit</button>
    </form>
{%endblock%}