{% extends "base.j2" %}
{%block title%}User List{%endblock%}
{%block header%}Most Recent Post{%endblock%}
{%block content%}
<ul>
    {% for post in post%}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>
<h2>Users</h2>
 <ul>
    {% for user in users%}
    <li><a href="/users/{{user.id}}">{{ user.full_name }}</a></li>
    {% endfor %}
</ul>
<a href="/users/new">Add New User</a>
<a href="/users">See All Users</a>
<a href="/tags">See Tags</a>
{%endblock%}