{% extends "base.j2" %}
{%block title%}Tags{%endblock%}
{%block header%}Tags:{%endblock%}
{%block content%}
<ul>
    {% for tag in tags%}
    <li><a href="/tags/{{tag.id}}">{{tag.name}}</a></li>
    {% endfor %}
</ul>
<form>
      <button formaction="/tags/new" formmethod="GET">Add</button>
</form>
{% endblock %}